.custom-navbar {
    background-color: #222;
}
.custom-nav-link {
    position: relative;
    font-size: 1.1rem;
    padding: 10px 15px;
    transition: color 0.3s;
}
.custom-nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #a70024;
    bottom: 0;
    left: 50%;
    transition: width 0.3s, left 0.3s;
}
.logout-link {
    color: #a70024;
}
.logout-link:hover {
    color: #a70024;
}
.custom-nav-link:hover::after {
    width: 100%;
    left: 0;
}
body {
    background-color: #343a40;
    color: white;
}

.d-flex {
  gap: 1%;
}

.search-wrapper {
  width: 90%;
  max-width: 700px;
  margin: 0 auto;
}
  
.dark-input {
  background-color: #222;
  color: white;
  border: 1px solid #444;
  min-width: 0;
  margin-right: 1%;
}

.dark-input:focus {
  background-color: #5d5d5d;
  color: white;
}
  
.dark-input::placeholder {
  color: #ccc;
}
  
.btn-search {
  background-color: rgb(0, 123, 255);
  color: white;
  border: none;
  white-space: nowrap;
  transition: background-color 0.3s ease;
}
  
.btn-search:hover {
  background-color: rgb(0, 91, 187);
  color: white;
}

.filter-dark {
  background-color: #222; /* scuro */
  color: #f8f9fa; /* chiaro */
  border: 1px solid #444;
}
  
.filter-dark option {
  background-color: #222;
  color: #f8f9fa;
}

.card-hover {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-hover:hover {
  transform: scale(1.08);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
  z-index: 2;
  background-color: #777676;
  border: 1px white solid;
}

.custom-bg-card {
  background-color: #545454;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
  width: 100%;
}